* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}


img {
    width: 100%;
    height: auto;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: aqua;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: aqua;
}
/* nav{
  grid-area: n;
  width: 100%;
  display: inline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(41, 58, 58);
  padding-top: 20px;
}
.dropbtn {
background-color: white;
color: rgb(89, 201, 201);
padding: 16px;
font-size: 16px;
border: none;
}

.dropdown {
background-color: white;  
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(29, 37, 37);}
/* unvisited link */
/* a:link {
color: aqua;
} */
/* visited link */
a:visited {
color: aqua;
}
/* mouse over link */
a:hover {
color: rgb(151, 172, 172);
} 
/* selected link */
/* a:active {
color: #3636ce; */



/* NAVBAR CSS */
/* nav{
    padding-left:4em;
    padding-right: 4em;
    /* TODO: figure out no longer staying fixed */
    /* position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:10;
  }

  nav ul {
    margin:0;
    padding:0;
    display:flex;
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 25px;
    font-size: 1.7em;
  }
  
  nav li a {
    color:rgb(134, 161, 161);
    font-weight: 600;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:aqua;
    opacity: 1;
    text-decoration: none;
  } */ 

  /* HEADER CSS */
.header {
    position: relative;
    background-image: url(/images/mine/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(34, 39, 43);
}


.welcome{
    margin-top: 25vh;
    text-align: center;
    font-weight: 500;
    font-size:4em;
    color: rgb(34, 39, 43)}

#changingword {
    color:black;
      } 

/* IMAGE GALLERY CSS */
.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ;
}

.box-styling {
    height: 350px;
    background-color:rgb(34, 39, 43)
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }

.box-wrapper{
  height:350px;
  border-radius: 1%;
}
.box1 {
    grid-area: a;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */

}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}


/* ABOUT ME CSS*/
.about-me {
    height: 100vh !important;
    background-color: rgb(34, 39, 43) !important;
    padding: 20vh 50px 0 50px;
     column-count: 2;  
    
}
.about-title{
  font-size: 2em;
    grid-area: title;
    padding-bottom: 50px;
    align-content: center;
    color: aqua;
    
}
.about-me img{
  width: 40%;
  height: 50%;
  border-radius: 8%;
  margin-bottom: 4em;
  margin-left: 5em;
}

.about-me p{
  text-align: left;
  font-size:1em;
  line-height: 1.5rem;
  margin-top: 4em;
 
}
.paragraph2{
  text-indent: 2em;
}
/* the span tag that wrap starts off my paragraph */
.bigText {
  font-size:2em;
  padding-right:.5em;
}

/* CONTACT CSS */
.contact {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 25vh !important;
    padding-bottom: 50vh;
    background-color:rgb(34, 39, 43) !important;
    grid-template-columns: 3fr minmax(2fr, 1fr) minmax(2fr, 1fr) 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title title ."
    ". logo wrapper ."
    ;
}

.contact-title {
    font-size: 2em;
    grid-area: title;
    padding-bottom: 50px;
    color: aqua;
}

.logo-svg {
    width: 400px;
    grid-area: logo;
     color: aqua;
      
}

.contact-wrapper {
    grid-area: wrapper;
}


   /* footer section */
   footer{
    grid-area:footer;
  }
  footer p{
    font-size:2em;
  }
  footer li {
    display:inline;
  }
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding:0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  footer ul li{
    list-style: none;
    align-self:flex-end;
  }
  footer ul li a {
    text-decoration:none;
    color: black;
    opacity:.6;
    transition: .3s;
  }
  footer ul li a:hover {
    text-decoration:none;
    color:aqua;
  }
  footer svg {
    width:20%;
  }
  footer p{
    font-size: 1em;
  }  



  /* MEDIA QUERY FOR SMALL SCREENS */
 @media (max-width:1100px){
    .image-gallery {
      padding-bottom: 0px;
        margin-bottom: 600px;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 }

/* MEDIA QUERY FOR MOBILE */
 @media (max-width:735px){
     nav {
         padding-left: 0;
     }

    .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    }

    .contact {
        padding-bottom: 200%;
        grid-template-columns: 3fr minmax(2fr, 1fr) 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". title ."
        ". logo ."
        ". wrapper ."
        ;
    }
    
 }



